#moeda_clicavel {
    width: 300px;  
    height: 300px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 15vh;
}

#div_moeda {
    display: flex;
    justify-content: center; 
    margin-top: 30px;        
    flex-grow: 1; /* Faz ela ocupar todo o espaço central */
    height: 50vh; /* 50% da altura da janela visual */

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}

.div_top10 {
    
    background-color: rgba(0, 0, 0, 0.226);

    border-style: solid;
    border-width: 0px 0px 2px 2px;
    border-color: black;
    display: inline-block;
    min-height: 100vh;
   
    
}

#moeda_clicavel:active {
    transform: scale(0.95); /*Efeito de clique daora */
}

#info_jogador {
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: black;
    display: inline-block;
    min-height: 100vh;
}

#div_titulo {
    border-bottom: 2px solid black;
}

#div_centralizar {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

/*Animação feita com gemini mas entendi tudo, não sabia nem por onde começar a fazer isso */
.numero-flutuante {
    position: absolute;
    
    color: #0c0c0c; 
    font-weight: bold;
    font-size: 20px;
    
    pointer-events: none; 

    user-select: none;
    
    animation: subirESumir 1s ease-out forwards;
    
    z-index: 1000;
}

@keyframes subirESumir {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}